.body_background {
    background-image: url("https://cdn.wallpapersafari.com/12/12/HNCLcG.jpg");
}

.btn_primary {
    background-color: cornflowerblue;
    width: 170px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font: bold;
}

.mesure {
    background-color: crimson;
    width: 170px;
    border-radius: 5px;
}